
{% load static %}
{% load humanize %}
{% load qr_code %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
  </head>

  <body>
    <h1>Invoice</h1>
    <small>{{ order.uuid }}</small>

    <aside>
      <address id="from">
        日栄株式会社
        〒3360031
        埼玉県さいたま市南区鹿手袋７丁目
        19-17 103号
      </address>

      <address id="to">
        TO: {{order.shippingaddress.name}}
        EMAIL: {{order.shippingaddress.email}}
        PHONE: {{order.shippingaddress.phone}}
        ADDRESS: 〒 {{order.shippingaddress.postcode}}　
        {{ order.shippingaddress.state }}{{ order.shippingaddress.town }}{{ order.shippingaddress.street }} {{ order.shippingaddress.address_1 }}
          {{ order.shippingaddress.address_2 }}
      </address>
    </aside>

    <dl id="informations">
      <dt>NICHIEI SERVICES</dt>
      <dd></dd>
      <dt>Date</dt>
      <dd>{{order.ordered_date}}</dd>
    </dl>

    <table>
      <thead>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>
      <tbody>
      {% for orderitem in order.orderitems.all %}
        <tr>
          <td>{{ orderitem.item.item_name }}</td>
          <td>{{ orderitem.get_final_item_price |intcomma:False}}</td>
          <td>{{ orderitem.quantity }}</td>
          <td>{{ orderitem.get_final_price |intcomma:False }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <table id="total">
      <thead>
        <th>Order</th>
        <th>Due by</th>
        <th>Total due</th>
      </thead>
      <tbody>
        <tr>
          <td>
              {% qr_for_contact qrcode size='S' %}
          </td>
          <td>{{order.ordered_date}}</td>
          <td>{{ order.get_total_price|intcomma:False }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>