{% load static %}

<div id="top-bar">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-auto">
                <p class="mb-0 py-2 text-center text-md-left"><strong><i class="icon-phone-sign"></i></strong> {{ settings.NICHIEI_INFO.SALES_PHONE }} |
                    <strong><i class="icon-email3"></i></strong>
                    {{ settings.NICHIEI_INFO.SALES_EMAIL }}</p>
            </div>

            <div class="col-12 col-md-auto">
                <div class="top-links on-click">
                    <ul class="top-links-container">
                        {% if user.is_authenticated %}
                            <li class="top-links-item"><a href="#">{{ user.username }}<i
                                    class="icon-angle-down"></i></a>
                                <ul class="top-links-sub-menu">
                                    <li class="top-links-item"><a href="{% url 'web_logout' %}"><i
                                            class="icon-line2-logout"></i>Logout</a></li>
                                </ul>
                            </li>

                        {% else %}
                            <li class="top-links-item">
                                <a href="{% url 'web_login' %}"><i
                                        class="icon-line2-login"></i>Login</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
<header id="header" class="">
    <div id="header-wrap" class="">
        <div class="container">
            <div class="header-row top-search-parent">
                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
                            src="{% static 'nichiei/canvas/images/nichiei_with_text_black.png' %}" alt="Canvas Logo"
                            style="height: 100px;"></a>
                    <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
                            src="{% static 'nichiei/canvas/images/nichiei_with_text_black.png' %}" alt="Canvas Logo"
                            style="height: 100px;"></a>
                </div>

                <div class="header-misc">
{#                    <div id="top-search" class="header-misc-icon">#}
{#                        <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i#}
{#                                class="icon-line-cross"></i></a>#}
{#                    </div>#}
                    <div id="top-cart" class="header-misc-icon d-none d-sm-block">
                        <a href="#" id="top-cart-trigger"><i class="icon-line-bag"></i><span
                                class="top-cart-number">5</span></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                            <div class="top-cart-items">

                                {% for key,value in request.session.nichiei_cart.items %}

                                    {% if key != "total" and key != "qty" %}
                                        <div class="top-cart-item">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="{{value.image}}"
                                                             alt="Blue Round-Neck Tshirt"></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <div class="top-cart-item-desc-title">
                                                <a href="#">{{value.name}}</a>
                                                <span class="top-cart-item-price d-block">{{value.price}}</span>
                                            </div>
                                            <div class="top-cart-item-quantity">x {{value.quantity}}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="top-cart-action">
                                <span class="top-checkout-price">$114.95</span>
                                <a href="#" class="button button-3d button-small m-0">View Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100">
                        <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                        <path d="m 30,50 h 40"></path>
                        <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">

                    <ul class="menu-container">
{#                        <li class="menu-item current sub-menu">#}
{#                            <a class="menu-link" href="#" style="padding-top: 39px; padding-bottom: 39px;">#}
{#                                <div>Home<i class="icon-angle-down"></i></div>#}
{#                            </a>#}
{#                            <ul class="sub-menu-container" style="">#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-corporate.html">#}
{#                                    <div>Home - Corporate<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-corporate.html">#}
{#                                            <div>Corporate - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-corporate-2.html">#}
{#                                            <div>Corporate - Layout 2</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-corporate-3.html">#}
{#                                            <div>Corporate - Layout 3</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-corporate-4.html">#}
{#                                            <div>Corporate - Layout 4</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-portfolio.html">#}
{#                                    <div>Home - Portfolio<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-portfolio.html">#}
{#                                            <div>Portfolio - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-portfolio-2.html">#}
{#                                            <div>Portfolio - Layout 2</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-portfolio-3.html">#}
{#                                            <div>Portfolio - Masonry</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-portfolio-4.html">#}
{#                                            <div>Portfolio - AJAX</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-blog.html">#}
{#                                    <div>Home - Blog<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-blog.html">#}
{#                                            <div>Blog - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-blog-2.html">#}
{#                                            <div>Blog - Layout 2</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-blog-3.html">#}
{#                                            <div>Blog - Layout 3</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-shop.html">#}
{#                                    <div>Home - Shop<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-shop.html">#}
{#                                            <div>Shop - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-shop-2.html">#}
{#                                            <div>Shop - Layout 2</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-magazine.html">#}
{#                                    <div>Home - Magazine<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-magazine.html">#}
{#                                            <div>Magazine - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-magazine-2.html">#}
{#                                            <div>Magazine - Layout 2</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-magazine-3.html">#}
{#                                            <div>Magazine - Layout 3</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="landing.html">#}
{#                                    <div>Home - Landing Page<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link" href="landing.html">#}
{#                                            <div>Landing Page - Layout 1</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="landing-2.html">#}
{#                                            <div>Landing Page - Layout 2</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="landing-3.html">#}
{#                                            <div>Landing Page - Layout 3</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="landing-4.html">#}
{#                                            <div>Landing Page - Layout 4</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="landing-5.html">#}
{#                                            <div>Landing Page - Layout 5</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-fullscreen-image.html">#}
{#                                    <div>Home - Full Screen<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-fullscreen-image.html">#}
{#                                            <div>Full Screen - Image</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-fullscreen-slider.html">#}
{#                                            <div>Full Screen - Slider</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-fullscreen-video.html">#}
{#                                            <div>Full Screen - Video</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item sub-menu" style=""><a class="menu-link"#}
{#                                                                           href="index-onepage.html">#}
{#                                    <div>Home - One Page<i class="icon-angle-down"></i></div>#}
{#                                </a>#}
{#                                    <ul class="sub-menu-container" style="">#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-onepage.html">#}
{#                                            <div>One Page - Default</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-onepage-2.html">#}
{#                                            <div>One Page - Submenu</div>#}
{#                                        </a></li>#}
{#                                        <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                          href="index-onepage-3.html">#}
{#                                            <div>One Page - Dots Style</div>#}
{#                                        </a></li>#}
{#                                    </ul>#}
{#                                    <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                                </li>#}
{#                                <li class="menu-item" style=""><a class="menu-link" href="index-wedding.html">#}
{#                                    <div>Home - Wedding</div>#}
{#                                </a></li>#}
{#                                <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                  href="index-restaurant.html">#}
{#                                    <div>Home - Restaurant</div>#}
{#                                </a></li>#}
{#                                <li class="menu-item" style=""><a class="menu-link" href="index-events.html">#}
{#                                    <div>Home - Events</div>#}
{#                                </a></li>#}
{#                                <li class="menu-item" style=""><a class="menu-link" href="index-parallax.html">#}
{#                                    <div>Home - Parallax</div>#}
{#                                </a></li>#}
{#                                <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                  href="index-app-showcase.html">#}
{#                                    <div>Home - App Showcase</div>#}
{#                                </a></li>#}
{#                            </ul>#}
{#                            <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                        </li>#}

{#                        <li class="menu-item mega-menu sub-menu">#}
{#                            <a class="menu-link" href="#" style="padding-top: 39px; padding-bottom: 39px;">#}
{#                                <div>Men<i class="icon-angle-down"></i></div>#}
{#                            </a>#}
{#                            <div class="mega-menu-content mega-menu-style-2" style="width: 1110px;">#}
{#                                <div class="container" style="">#}
{#                                    <div class="row">#}
{#                                        <ul class="sub-menu-container mega-menu-column col-lg-3" style="">#}
{#                                            <li class="menu-item mega-menu-title sub-menu" style=""><a#}
{#                                                    class="menu-link" href="#">#}
{#                                                <div>Footwear</div>#}
{#                                            </a>#}
{#                                                <ul class="sub-menu-container" style="">#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Casual Shoes</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Formal Shoes</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Sports shoes</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Flip Flops</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Slippers</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Sports Sandals</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Party Shoes</div>#}
{#                                                    </a></li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="sub-menu-container mega-menu-column col-lg-3" style="">#}
{#                                            <li class="menu-item mega-menu-title sub-menu" style=""><a#}
{#                                                    class="menu-link" href="#">#}
{#                                                <div>Clothing</div>#}
{#                                            </a>#}
{#                                                <ul class="sub-menu-container" style="">#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Casual Shirts</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>T-Shirts</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Collared Tees</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Pants / Trousers</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Ethnic Wear</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Jeans</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Sweamwear</div>#}
{#                                                    </a></li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="sub-menu-container mega-menu-column col-lg-3" style="">#}
{#                                            <li class="menu-item mega-menu-title sub-menu" style=""><a#}
{#                                                    class="menu-link" href="#">#}
{#                                                <div>Accessories</div>#}
{#                                            </a>#}
{#                                                <ul class="sub-menu-container" style="">#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Bags &amp; Backpacks</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Watches</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Sunglasses</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Wallets</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Caps &amp; Hats</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Jewellery</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Belts, Ties</div>#}
{#                                                    </a></li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <ul class="sub-menu-container mega-menu-column col-lg-3" style="">#}
{#                                            <li class="menu-item mega-menu-title sub-menu" style=""><a#}
{#                                                    class="menu-link" href="#">#}
{#                                                <div>New Arrivals</div>#}
{#                                            </a>#}
{#                                                <ul class="sub-menu-container" style="">#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>T-Shirts</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Formal Shoes</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Accessories</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Watches</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Perfumes</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Belts, Ties</div>#}
{#                                                    </a></li>#}
{#                                                    <li class="menu-item" style=""><a class="menu-link"#}
{#                                                                                      href="#">#}
{#                                                        <div>Formal Shirts</div>#}
{#                                                    </a></li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <button class="sub-menu-trigger icon-chevron-right"></button>#}
{#                        </li>#}

                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'top' %}"
                               style="padding-top: 39px; padding-bottom: 39px;">
                                <div>Home</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'company' %}"
                               style="padding-top: 39px; padding-bottom: 39px;">
                                <div>Company</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'services' %}" style="padding-top: 39px; padding-bottom: 39px;">
                            <div>Services</div></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'contact' %}" style="padding-top: 39px; padding-bottom: 39px;">
                            <div>Contact</div>
                            <span>Get In Touch</span></a>
                        </li>
                    </ul>

                </nav>

                <form class="top-search-form" action="search.html" method="get" style="width: 1110px;">
                    <input type="text" name="q" class="form-control" value=""
                           placeholder="Type &amp; Hit Enter.." autocomplete="off">
                </form>

            </div>
        </div>
    </div>
    <div class="header-wrap-clone" style="height: 100px;"></div>
</header>