{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Shop</h1>
            <span>Products with Filter Functionality</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Filters</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop Filter</li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content" class="d-none d-md-block">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80" id="productlist">
                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent col-lg-9 order-lg-last">
                        {% if keyval and not products %}
                            <div class="style-msg errormsg">
								<div class="sb-msg d-inline-block"><i class="icon-remove"></i><strong>Oh snap!</strong> {{keyval}} not found!</div>
                                <a href="{% url 'store:home' %}" class="d-inline-block float-right alertmsg sb-msg">Finish Search</a>
							</div>
                        {% elif keyval and products %}

                            <div class="style-msg successmsg">
								<div class="sb-msg d-inline-block"><i class="icon-thumbs-up"></i><strong>Well done!</strong> Found {{ products.count }} Products contains " {{ keyval }} " are found!</div>
                                <a href="{% url 'store:home' %}" class="d-inline-block float-right alertmsg sb-msg">Finish Search</a>
							</div>
                        {% endif %}
                        <!-- Shop
                        ============================================= -->
                        <div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">

                            {% for product in products %}
                                <div class="product col-md-4 col-sm-6 {{ product.category }}">
                                    <div class="grid-inner">
                                        <div class="product-image">
                                            {#											<a href="#"><img src="images/shop/dress/1.jpg" alt="Checked Short Dress"></a>#}
                                            <a href="#"><img src="{{ product.thumbimage.url }}"
                                                             alt="Checked Short Dress"></a>

                                            {% if  product.inventory == 0 or not product.is_valid %}
                                                <div class="sale-flash badge badge-secondary p-2">Out of Stock</div>
                                            {% endif %}
                                            <div class="bg-overlay">
                                                <div class="bg-overlay-content align-items-end justify-content-between"
                                                     data-hover-animate="fadeIn" data-hover-speed="400">
                                                    {% if user.is_authenticated %}
                                                        <a href="{% url 'store:add-to-cart' pk=product.id location='store:home'  %}"
                                                           class="btn btn-dark mr-2">
                                                            <i class="icon-shopping-cart" product_id="{{ product.id }}"
                                                               user_id="{{ user.id }}"></i>
                                                        </a>
                                                    {% else %}

                                                    {% endif %}
                                                    <a href="javascript:void(0);" class="btn btn-dark btnShowProduct"><i class="icon-line-expand"  product_id="{{ product.id }}"></i></a>
                                                </div>
                                                <div class="bg-overlay-bg bg-transparent"></div>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-title"><h3><a
                                                    href="#">{{ product.item_name }} {{ product.is_valid }}</a></h3>
                                            </div>
                                            <div class="product-price">
                                                <del>¥{{ product.price |intcomma}}</del>
                                                <ins>¥{{ product.discount_price |intcomma}}</ins>
                                            </div>
                                            <div class="product-rating">
                                                <i class="icon-star3"></i>
                                                <i class="icon-star3"></i>
                                                <i class="icon-star3"></i>
                                                <i class="icon-star3"></i>
                                                <i class="icon-star-half-full"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div><!-- #shop end -->

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar col-lg-3">
                        <div class="sidebar-widgets-wrap">
                        {% recursetree store_categories %}
                            {% if node.is_root_node %}
                                <div class="widget widget-filter-links root">
                                <h4>{{ node.name }}</h4>
                            {% else %}
                                <li><a href="#" data-filter=".{{ node.name }}">{{ node.name }}</a></li>
                            {% endif %}


                        {% if not node.is_leaf_node %}
                            <ul class="custom-filter pl-2 children" data-container="#shop"
                                data-active-class="active-filter">
                                <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>
                                {{ children }}
                            </ul>
                        {% endif %}
                        {% if node.is_root_node %}

                            </div>
                            {% endif %}
                        {% endrecursetree %}
                        </div>
                    </div><!-- .sidebar end -->
                </div>

            </div>
        </div>
    </section><!-- #content end -->

        <!-- Content
    ============================================= -->
    <section id="content" class="d-block d-sm-none">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80">
                    <h2>show in XS</h2>
                </div>

            </div>
        </div>
    </section><!-- #content end -->

    <!-- Modal -->
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="single-product shop-quick-view-ajax mt-lg-6">

            <div class="ajax-modal-title">
                <h2 class="modal-title d-inline-block" id="product_name"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="product modal-padding">

                <div class="row gutter-40 col-mb-50">
                    <div class="col-md-6">
                        <div class="product-image">
                            <img src="" id="product_image">
                            <div class="sale-flash badge badge-danger p-2">Sale!</div>
                        </div>
                    </div>
                    <div class="col-md-6 product-desc">
                        <div class="product-price">
                            <del id="product_discountprice"></del>
                            <ins id="product_price"></ins>
                        </div>
                        <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-half-full"></i>
                            <i class="icon-star-empty"></i>
                        </div>
                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Quantity & Cart Button
                        ============================================= -->
{#                        <form class="cart mb-0" method="post" enctype='multipart/form-data'>#}
{#                            <div class="quantity">#}
{##}
{#                                <input type="button" value="-" class="minus">#}
{#                                <input type="text" step="1" min="1" name="quantity" value="1"#}
{#                                       title="Qty" class="qty" size="4"/>#}
{#                                <input type="button" value="+" class="plus">#}
{#                            </div>#}
{#                            <button type="submit" class="add-to-cart button m-0">Add to cart</button>#}
{#                        </form>#}

                        <div class="clear"></div>
                        <div class="line"></div>
                        <p id="product_description"></p>
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Dynamic Color Options</li>
                            <li><i class="icon-caret-right"></i> Lots of Size Options</li>
                            <li><i class="icon-caret-right"></i> 30-Day Return Policy</li>
                        </ul>
                        <div class="card product-meta mb-0">
                            <div class="card-body">
                                <span itemprop="productID" class="sku_wrapper">SKU: <span
                                        class="sku">8465415</span></span>
                                <span class="posted_in">Category: <a href="#"
                                                                     rel="tag">Shoes</a>.</span>
                                <span class="tagged_as">Tags: <a href="#" rel="tag">Barena</a>, <a
                                        href="#" rel="tag">Blazers</a>, <a href="#"
                                                                           rel="tag">Tailoring</a>, <a
                                        href="#" rel="tag">Unconstructed</a>.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-dialog"></div>
    </div>

    <div id="custom-notification-message" data-notify-position="top-right" data-notify-type="info" data-notify-msg='<i class="icon-info-sign"></i> Welcome to Canvas Demo!'></div>


{% endblock %}

{% block footerscript_last %}
    <script src="{% static 'js/shoppingcart.js' %}" type="module"></script>
{% endblock %}