{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}
{% load store_tags %}


{% block headerscript %}{% endblock headerscript%}
{% block content %}

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>{{lionhu}}</h1>
				<span>Products with Filter Functionality</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Filters</a></li>
					<li class="breadcrumb-item active" aria-current="page">Shop Filter</li>
				</ol>
			</div>

		</section><!-- #page-title end -->
    		<!-- Content
		============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="row gutter-40 col-mb-80">
                        <!-- Post Content
                        ============================================= -->
                        <div class="postcontent col-lg-12">
                            <h1>My Team Tree</h1>

                            <nav class="primary-menu sub-title">

                                <ul class="menu-container">
                                    <li class="menu-item root">
                                        <a class="menu-link" href="#">
                                            <div><i class="fab fa-pagelines text-success"></i>{{ user.username }}</div>
                                            <span>My Team</span></a>

                                        <ul class="sub-menu-container root">

                                            {% recursetree membertree %}
                                                <li class="menu-item">
                                                    <a class="menu-link" href="#">
                                                        <div>
                                                            {% if not node.is_leaf_node %}
                                                                <i class="icon-users text-success"></i>
                                                            {% else %}
                                                                <i class="icon-user text-warning"></i>
                                                            {% endif %}
                                                            {{ node.user.username }}
                                                            {% if node.user.orders.count %}(
                                                                {{ node.user.orders.count |orderpluarl }} )
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="sub-menu-container children">
                                                            {{ children }}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endrecursetree %}
                                        </ul>
                                    </li>
                                </ul>


                            </nav><!-- #primary-menu end -->

                                <div class="">
                                    <ul class="sub-menu-container root">
                                        {% recursetree membertree %}
                                            <li class="menu-item">
                                                <a class="menu-link" href="#">
                                                    <div>
                                                        {% if not node.is_leaf_node %}
                                                                <i class="icon-users text-success"></i>
                                                            {% else %}
                                                                <i class="icon-user text-warning"></i>
                                                            {% endif %}
                                                            {{ node.user.username }}
                                                            {% if node.user.orders.count %}(
                                                                {{ node.user.orders.count |orderpluarl }} )
                                                            {% endif %}
                                                    </div>
                                                </a>
                                                {% if not node.is_leaf_node %}
                                                    <ul class="sub-menu-container children">
                                                        {{ children }}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endrecursetree %}

                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- #content end -->


{% endblock content%}

{% block footerscript_last %}

{% endblock footerscript_last%}